<!-- Ecopontos Component -->
<div class="ecopontos-grid">
    <div class="ecoponto" id="yellow-container">
        <div class="ecoponto-header">
            <div class="ecoponto-info">
                <div class="ecoponto-icon">
                    <img src="photos/yellow.png" alt="Ecoponto Amarelo" class="ecoponto-icon-img">
                </div>
                <div class="ecoponto-text">
                    <span class="ecoponto-title" data-i18n="yellowTitle">Ecoponto Amarelo</span>
                    <span class="ecoponto-subtitle" data-i18n="yellowSubtitle">Plásticos e embalagens</span>
                </div>
            </div>
            <div id="yellow-percentage" class="ecoponto-percentage loading">0%</div>
        </div>
        <div class="bar-container">
            <div id="yellow-bar" class="bar loading"></div>
        </div>
    </div>
    
    <div class="ecoponto" id="green-container">
        <div class="ecoponto-header">
            <div class="ecoponto-info">
                <div class="ecoponto-icon">
                    <img src="photos/green.png" alt="Ecoponto Verde" class="ecoponto-icon-img">
                </div>
                <div class="ecoponto-text">
                    <span class="ecoponto-title" data-i18n="greenTitle">Ecoponto Verde</span>
                    <span class="ecoponto-subtitle" data-i18n="greenSubtitle">Vidro</span>
                </div>
            </div>
            <div id="green-percentage" class="ecoponto-percentage loading">0%</div>
        </div>
        <div class="bar-container">
            <div id="green-bar" class="bar loading"></div>
        </div>
    </div>
    
    <div class="ecoponto" id="blue-container">
        <div class="ecoponto-header">
            <div class="ecoponto-info">
                <div class="ecoponto-icon">
                    <img src="photos/blue.png" alt="Ecoponto Azul" class="ecoponto-icon-img">
                </div>
                <div class="ecoponto-text">
                    <span class="ecoponto-title" data-i18n="blueTitle">Ecoponto Azul</span>
                    <span class="ecoponto-subtitle" data-i18n="blueSubtitle">Jornais e embalagens</span>
                </div>
            </div>
            <div id="blue-percentage" class="ecoponto-percentage loading">0%</div>
        </div>
        <div class="bar-container">
            <div id="blue-bar" class="bar loading"></div>
        </div>
    </div>
</div> 